@charset "utf-8";

    body{
        background-color: powderblue;
    }

    h1{
        text-align: center;
        color: #0066ff;
        font-size: 75px;
        border-bottom: 3px solid #555555;
    }

    h2{
        color: #0066ff;
        margin-left: 50px;
        font-family: Georgia;
    }

    p{
        margin-left: 50px;
        margin-right: 50px;
        font-family: Georgia;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #center{
        text-align: center;
        padding: 20px;
    }
    a:link{
        color: #0066ff;
        text-decoration: none;
    }
